---
import Layout from "../layouts/Layout.astro";
---

<Layout frontmatter={{ title: "M. Rizqi Ardiansyah - Resume" }}>
  <h1>Résumé</h1>

  <p>Download <a href="/resume.pdf">here</a>.</p>

  <embed src="resume.pdf" type="application/pdf" class="w-full h-96">
</Layout>
