---
export interface Props {
  title: string;
  date: string;
  excerpt: string;
  coverImageSrc?: string;
  href: string;
}

const props = Astro.props;

const formattedDate = new Date(props.date).toLocaleString("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<article class="mb-6 rounded grid gap-4 leading-tight">
  <div>
    <div class="flex justify-between items-start gap-3">
      <h3 class="mt-0 font-normal">
        <a href={props.href}>{props.title}</a>
      </h3>
      <p class="mt-1 mb-0 text-right text-sm flex-shrink-0">{formattedDate}</p>
    </div>
    <p class="text-sm opacity-90 my-0 line-clamp-3">
      {props.excerpt}
    </p>
  </div>
</article>
