<header class="not-prose">
  <h1 class="mb-4">
    <span class="text-4xl font-display">Muhammad Rizqi Ardiansyah</span>
    <span class="text-2xl italic text-opacity-50">
      — A software engineer, Informatics Engineering Student, and a technology
      enthusiast
    </span>
  </h1>
</header>
