---
export interface Props {
  title: string;
  date: string;
}

const { title, date } = Astro.props;
---

<article class="grid grid-cols-6">
  <div class="col-span-2">
    <p class="text-lg font-semibold">{title}</p>
    <p class="text-sm">{date}</p>
  </div>
  <div class="col-span-4">
    <slot />
  </div>
</article>
